.header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 18;

  &__body {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &__hamburger {
      display: none;
      @include smallDesktop {
        display: block;
      }
    }
    &__logo {
      padding: 15px 0;
      & img {
        height: 40px;
        @include Mobile {
          height: 25px;
        }
      }
    }
    &__navbar {
      margin-left: auto;
      & ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        gap: 30px;
        & li {
          & > a {
            text-decoration: none;
            color: $grey-300;
          }
          &.current_page_item {
            & > a {
              color: $common-black;
            }
          }
          &.alt {
            & > a {
              background-color: var(--wp--preset--color--primary);
              border: 1px solid var(--wp--preset--color--primary);
              padding: 10px;
              border-radius: 4px;
              color: white;
              transition: all 0.3s;
              &:hover {
                background-color: white;
                color: var(--wp--preset--color--primary);
              }
            }
          }
          & .sub-menu {
            position: absolute;
            padding-left: 0;
            padding: 1em;
            display: none;
            flex-direction: column;
            background-color: white;
            z-index: 10;
            box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
            @include Mobile {
              position: static;
              flex-direction: column;
              gap: 8px;
              margin-top: 0;
              box-shadow: none;
              padding: 0.8em;
            }
            & > li {
              & > a {
                text-wrap: nowrap;
              }
            }
          }
          &:hover .sub-menu {
            display: flex;
            @include Tablet {
              display: none;
            }
          }
          &.show-sub-menu .sub-menu {
            display: flex;
          }
        }
      }
      &__close {
        margin-top: 5px;
        display: none;
      }
      @include smallDesktop {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        height: 100%;
        height: 100dvh;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        margin-top: 0;
        transition: left 0.2s ease-out;
        & ul {
          flex-direction: column;
          align-items: flex-start;
        }
        &.open {
          left: 0;
        }
        &__close {
          display: block;
        }
      }
    }
  }
}

// Alt page navbar
.page-template-page-alt {
  & .header {
    background-color: var(--wp--preset--color--secondary);
  }
}
